<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<h:body>
    <ui:composition template="/templates/basePage.xhtml">
        <ui:define name="body-content">
            <!--banner-starts-->
            <div class="bnr" id="home">
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider4">
                        <li>
                            <div class="banner">
                                <h:graphicImage library="images" name="bnr-1.jpg"></h:graphicImage>
                            </div>
                        </li>
                        <li>
                            <div class="banner1">
                                <h:graphicImage library="images" name="bnr-2.jpg"></h:graphicImage>
                            </div>
                        </li>
                        <li>
                            <div class="banner2">
                                <h:graphicImage library="images" name="bnr-3.jpg"></h:graphicImage>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <!--banner-ends-->
            <!--Slider-Starts-Here-->
            <h:outputScript library="js" name="responsiveslides.min.js"></h:outputScript>
            <h:outputScript library="js" name="slidesbanner.js"></h:outputScript>
            <!--End-slider-script-->
            <!--about-starts-->
            <div class="about">
                <div class="container">
                    <div class="about-top grid-1">
                        <div class="col-md-4 about-left">
                            <figure class="effect-bubba"> 
                                <h:graphicImage class="img-responsive" library="images" name="abt-1.jpg" /> 
                                <figcaption>
                                    <h2>Nulla maximus nunc</h2>
                                    <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                                </figcaption> 
                            </figure>
                        </div>
                        <div class="col-md-4 about-left">
                            <figure class="effect-bubba"> 
                                <h:graphicImage class="img-responsive" library="images" name="abt-2.jpg" /> 
                                <figcaption>
                                    <h4>Mauris erat augue</h4>
                                    <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                                </figcaption> 
                            </figure>
                        </div>
                        <div class="col-md-4 about-left">
                            <figure class="effect-bubba"> 
                                <h:graphicImage class="img-responsive" library="images" name="abt-3.jpg" /> 
                            <figcaption>
                                <h4>Cras elit mauris</h4>
                                <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                                </figcaption> 
                            </figure>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!--about-end-->
            <!--product-starts-->
            <div class="product">
                <div class="container">
                    <div class="product-top">
                        <div class="product-one">
                            <div class="col-md-3 product-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                                class="img-responsive zoom-img"
                                              library="images"
                                                 name="p-1.png" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 product-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask"><h:graphicImage
                                            class="img-responsive zoom-img"
                                            library="images"
                                            name="p-2.png" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$
                                                329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 product-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask"><h:graphicImage
                                            class="img-responsive zoom-img"
                                            library="images"
                                            name="p-3.png" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$
                                                329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 product-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask"><h:graphicImage
                                            class="img-responsive zoom-img"
                                            library="images"
                                            name="p-4.png" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$
                                                329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="product-one">
                            <div class="col-md-3 product-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask"><h:graphicImage
                                            class="img-responsive zoom-img"
                                            library="images"
                                            name="p-5.png" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$
                                                329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 product-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask"><h:graphicImage
                                            class="img-responsive zoom-img"
                                            library="images"
                                            name="p-6.png" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$
                                                329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 product-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask"><h:graphicImage
                                            class="img-responsive zoom-img"
                                            library="images"
                                            name="p-7.png" alt="" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$
                                                329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 product-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                            class="img-responsive zoom-img"
                                          library="images"
                                             name="p-8.png" alt="" />
                                    </a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product-end-->
        </ui:define>
    </ui:composition>
</h:body>
</html>