<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:body>
    <ui:composition template="/templates/adminBasePage.xhtml">
        <ui:define name="title">
            <title>Admin | Create Customer</title>
        </ui:define>
        <ui:define name="body-content">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <h1>Create New Customer</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Customer Table</a></li>
                        <li class="active">Create Customer</li>
                    </ol>
                </div>
                <h:form>
                <!-- Main content -->
                <div class="content">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Customer Form</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <h:outputLabel value="First Name" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{customerBean.customer.firstName}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="firstName" 
                                                     required="true"
                                                     requiredMessage="First name is required"                                                    
                                                     tabindex="1">
                                        </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Last Name" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{customerBean.customer.lastName}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="lastName"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Phone" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{customerBean.customer.phone}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="phone"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Address" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{customerBean.customer.address}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="address"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="User Id" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:selectOneMenu value="#{customerBean.user}" styleClass="form-control" style="width:400px">
                                            <f:selectItems value="#{userBean.users}" var="u" itemValue="#{u}" itemLabel="#{u.userId}" />
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <h:commandButton tabindex="2" 
                                                 value="Save" 
                                                 action="#{customerBean.addCustomer()}" 
                                                 style="width:95px"
                                                 styleClass="btn btn-info btn-flat"/>
                                <h:commandButton tabindex="2" 
                                                 value="Cancel" 
                                                 action="/pages/customer/customer.jsf?faces-redirect=true"
                                                 style="width:95px"
                                                 styleClass="btn btn-default btn-flat pull-right"/>   
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
