<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:body>
    <ui:composition template="/templates/adminBasePage.xhtml">
        <ui:define name="title">
            <title>Admin | Create Product</title>
        </ui:define>
        <ui:define name="body-content">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <h1>Create New Product</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Product Table</a></li>
                        <li class="active">Create Product</li>
                    </ol>
                </div>
                <h:form prependId="false">
                <!-- Main content -->
                <div class="content">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Product Form</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="nav-tabs-custom" style="margin-bottom:0px">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab">Details Required</a></li>
                                <li class="nav-img"><a href="#tab_2" data-toggle="tab">Images</a></li>
                                <li><a href="#tab_3" data-toggle="tab">Others</a></li>   
                            </ul>
                            <div class="tab-content" style="min-height:480px;">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="form-group">
                                        <h:outputLabel value="Product Name" styleClass="col-sm-2 control-label"/>
                                        <div class="col-sm-10">
                                            <h:inputText value="#{productBean.product.productName}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="productName" 
                                                     required="true"
                                                     requiredMessage="Product name is required"                                                    
                                                     tabindex="1">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <h:outputLabel value="Category Name" styleClass="col-sm-2 control-label"/>
                                        <div class="col-sm-10">
                                            <h:selectOneMenu value="#{productBean.category}" styleClass="form-control" style="width:400px">
                                                <f:selectItems value="#{categoryBean.categories}" var="c" itemValue="#{c}" itemLabel="#{c.categoryName}"/>
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <h:outputLabel value="Supplier Name" styleClass="col-sm-2 control-label"/>
                                        <div class="col-sm-10">
                                            <h:selectOneMenu value="#{productBean.supplier}" styleClass="form-control" style="width:400px" >
                                                <f:selectItems value="#{supplierBean.suppliers}" var="s" itemValue="#{s}" itemLabel="#{s.companyName}"/>
                                            </h:selectOneMenu>
                                        </div>
                                    </div> 
                                    <br />   
                                    <br />   
                                    <div class="form-group">
                                        <h:outputLabel value="Product Brand" styleClass="col-sm-2 control-label"/>
                                        <div class="col-sm-10">
                                            <h:inputText value="#{productBean.product.productBrand}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="productBrand" 
                                                     required="true"
                                                     requiredMessage="Product Brand is required"                                                    
                                                     tabindex="1">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <h:outputLabel value="Product Price" styleClass="col-sm-2 control-label"/>
                                        <div class="col-sm-10">
                                            <h:inputText value="#{productBean.product.productPrice}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="productPrice" 
                                                     required="true"
                                                     requiredMessage="Product Price is required"                                                    
                                                     tabindex="1">
                                            </h:inputText>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <h:outputLabel value="Product Quantity" styleClass="col-sm-2 control-label"/>
                                        <div class="col-sm-10">
                                            <h:inputText value="#{productBean.product.productQuantity}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="productQuantity" 
                                                     required="true"
                                                     requiredMessage="Product Quantity is required"                                                    
                                                     tabindex="1">
                                            </h:inputText>
                                        </div>
                                    </div> 
                                    <br /> 
                                    <br /> 
                                    <div class="form-group">
                                        <h:outputLabel value="Product Discount" styleClass="col-sm-2 control-label"/>
                                        <div class="col-sm-10">
                                            <h:inputText value="#{productBean.product.productDiscount}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="productDiscount"                                                 
                                                     tabindex="1">
                                            </h:inputText>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane " id="tab_2">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">                                             
                                                <h:outputLabel value="Choose Image" styleClass="col-sm-2 control-label"/>  
                                                <div class="col-sm-10">
                                                    <div style="width:400px;">
                                                        <p:fileUpload value="#"
                                                                      styleClass="text-box single-line form-control valid" 
                                                                      mode="simple" 
                                                                      allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/> 
                                                    </div>
                                                    <br />
                                                    <div style="width:400px; height:400px">
                                                        <h:graphicImage id="myImg"
                                                                        height="400" 
                                                                        width="400" 
                                                                        alt="Preview Image" 
                                                                        library="images" 
                                                                        name="picture-insert.png">
                                                        </h:graphicImage>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_3">
                                    <div class="form-group">
                                        <h:outputLabel value="Product Description" styleClass="col-sm-2 control-label"/>
                                        <div class=" col-xs-9" style="height:100%">
                                            <h:inputTextarea value="#{productBean.product.productDescription}" 
                                                     styleClass="valid"
                                                     cols="20"
                                                     rows="2"
                                                     style="width: 100%; height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                                                     id="productDescription"                                                 
                                                     tabindex="1">
                                            </h:inputTextarea>
                                        </div>
                                    </div>
                                </div> 
                            </div><!-- /.tab-content -->
                            <div class="box-footer">
                                <h:commandButton action="#{productBean.addProduct()}" 
                                                 value="Save" 
                                                 style="width:95px"
                                                 styleClass="btn btn-info btn-flat"/>
                                <h:commandButton value="Cancel" 
                                                 action="/pages/product/product.jsf?faces-redirect=true"
                                                 style="width:95px"
                                                 styleClass="btn btn-default btn-flat pull-right"/>   
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
