<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:body>
    <ui:composition template="/templates/adminBasePage.xhtml">
        <ui:define name="title">
            <title>Admin | Edit Category</title>
        </ui:define>
        <ui:define name="body-content">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <h1>Edit Category</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Category Table</a></li>
                        <li class="active">Edit Category</li>
                    </ol>
                </div>
                <h:form>
                <!-- Main content -->
                <div class="content">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Category Form</h3><p:message for="categoryName"/>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <h:outputLabel value="Category Id" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{categoryBean.category.categoryId}" 
                                                     styleClass="form-control"
                                                     disabled="true"
                                                     id="categoryId"                                                    
                                                     tabindex="1">
                                        </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Category Name" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{categoryBean.category.categoryName}" 
                                                     styleClass="form-control"
                                                     id="categoryName" 
                                                     required="true"
                                                     requiredMessage="Category name is required"                                                    
                                                     tabindex="1">
                                        </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Description" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{categoryBean.category.categoryDescription}" 
                                                     styleClass="form-control"
                                                     id="categoryDescription"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <h:commandButton tabindex="2" 
                                                 value="Save" 
                                                 action="#{categoryBean.updateCategory()}" 
                                                 style="width:95px"
                                                 styleClass="btn btn-info btn-flat"/>
                                <h:commandButton tabindex="2" 
                                                 value="Cancel" 
                                                 action="/pages/category/category.jsf?faces-redirect=true"
                                                 style="width:95px"
                                                 styleClass="btn btn-default btn-flat pull-right"/>   
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
