<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <!-- CSS -->
    <!-- Bootstrap 3.3.5 -->
    <h:outputStylesheet library="admin/bootstrap/css" name="bootstrap.min.css"></h:outputStylesheet>
    <!-- Font Awesome -->
    <h:outputStylesheet library="admin/bootstrap/css" name="font-awesome.min.css"></h:outputStylesheet>
    <!-- Ionicons -->
    <h:outputStylesheet library="admin/bootstrap/css" name="ionicons.min.css"></h:outputStylesheet>
    <!-- DataTables -->
    <h:outputStylesheet library="admin/plugins/datatables" name="dataTables.bootstrap.css"></h:outputStylesheet>
    <!-- Theme style -->
    <h:outputStylesheet library="admin/dist/css" name="AdminLTE.min.css"></h:outputStylesheet>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <h:outputStylesheet library="admin/dist/css/skins" name="_all-skins.min.css"></h:outputStylesheet>
    <!-- iCheck -->
    <h:outputStylesheet library="admin/plugins/iCheck/flat" name="blue.css"></h:outputStylesheet>
    <!-- Morris chart -->
    <h:outputStylesheet library="admin/plugins/morris" name="morris.css"></h:outputStylesheet>
    <!-- jvectormap -->
    <h:outputStylesheet library="admin/plugins/jvectormap" name="jquery-jvectormap-1.2.2.css"></h:outputStylesheet>
    <!-- Date Picker -->
    <h:outputStylesheet library="admin/plugins/datepicker" name="datepicker3.css"></h:outputStylesheet>
    <!-- Daterange picker -->
    <h:outputStylesheet library="admin/plugins/daterangepicker" name="daterangepicker-bs3.css"></h:outputStylesheet>
    <!-- bootstrap wysihtml5 - text editor -->
    <h:outputStylesheet library="admin/plugins/bootstrap-wysihtml5" name="bootstrap3-wysihtml5.min.css"></h:outputStylesheet>
    <!-- Java Script -->
    <!-- jQuery 2.1.4 -->
    <h:outputScript library="admin/plugins/jQuery" name="jQuery-2.1.4.min.js"></h:outputScript>
    <!-- jQuery UI 1.11.4 -->
    <h:outputScript library="admin/plugins/jQuery" name="jquery-ui.min.js"></h:outputScript>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <h:outputScript library="admin/bootstrap/js" name="conflict.js"></h:outputScript>
    <!-- Bootstrap 3.3.5 -->
    <h:outputScript library="admin/bootstrap/js" name="bootstrap.min.js"></h:outputScript>
    <!-- Morris.js charts -->
    <h:outputScript library="admin/plugins/jQuery" name="raphael-min.js"></h:outputScript>
    <h:outputScript library="admin/plugins/morris" name="morris.min.js"></h:outputScript>
    <!-- Sparkline -->
    <h:outputScript library="admin/plugins/sparkline" name="jquery.sparkline.min.js"></h:outputScript>
    <!-- jvectormap -->
    <h:outputScript library="admin/plugins/jvectormap" name="jquery-jvectormap-1.2.2.min.js"></h:outputScript>
    <h:outputScript library="admin/plugins/jvectormap" name="jquery-jvectormap-world-mill-en.js"></h:outputScript>
    <!-- jQuery Knob Chart -->
    <h:outputScript library="admin/plugins/knob" name="jquery.knob.js"></h:outputScript>
    <!-- daterangepicker -->
    <h:outputScript library="admin/plugins/daterangepicker" name="moment.min.js"></h:outputScript>
    <h:outputScript library="admin/plugins/daterangepicker" name="daterangepicker.js"></h:outputScript>
    <!-- datepicker -->
    <h:outputScript library="admin/plugins/datepicker" name="bootstrap-datepicker.js"></h:outputScript>
    <!-- Bootstrap WYSIHTML5 -->
    <h:outputScript library="admin/plugins/bootstrap-wysihtml5" name="bootstrap3-wysihtml5.all.min.js"></h:outputScript>
    <!-- Slimscroll -->
    <h:outputScript library="admin/plugins/slimScroll" name="jquery.slimscroll.min.js"></h:outputScript>
    <!-- Preview Image -->
    <h:outputScript library="js" name="previewImage.js"></h:outputScript>
    <!-- FastClick -->
    <h:outputScript library="admin/plugins/fastclick" name="fastclick.min.js"></h:outputScript>
    <!-- DataTables -->
    <h:outputScript library="admin/plugins/datatables" name="jquery.dataTables.min.js"></h:outputScript>
    <h:outputScript library="admin/plugins/datatables" name="dataTables.bootstrap.min.js"></h:outputScript>
    <h:outputScript library="admin/plugins/datatables" name="dataTables.js"></h:outputScript>
    <!-- AdminLTE App -->
    <h:outputScript library="admin/dist/js" name="app.min.js"></h:outputScript>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <h:outputScript library="admin/dist/js/pages" name="dashboard.js"></h:outputScript>
    <!-- AdminLTE for demo purposes -->
    <h:outputScript library="admin/dist/js" name="demo.js"></h:outputScript>
</h:head>
<h:body styleClass="hold-transition skin-blue sidebar-mini">
    <h:form prependId="false">
        <div class="wrapper">
            <!--                         -->
            <!--        T I T L E        -->
            <!--                         -->
            <div id="title">
                <ui:insert name="title">
                </ui:insert>
            </div>
            <div id="body-container">
                <!--                         -->
                <!--       H E A D E R       -->
                <!--                         -->
                <div id="body-header">
                    <ui:insert name="body-header">
                        <ui:include src="/fragments/admin-header.xhtml">
                        </ui:include>        
                    </ui:insert>
                </div>
                <!--                         -->
                <!--        B O D Y          -->
                <!--                         -->
                <div id="body-content">
                    <!--                        -->
                    <!--   APPLICATION CONTENT  -->
                    <!--                        -->
                    <ui:insert name="body-content">
                    </ui:insert>
                </div>
                <!--                        -->
                <!--      F O O T E R       -->
                <!--                        -->
                <div id="body-footer">
                    <ui:insert name="body-footer" >
                        <ui:include src="/fragments/admin-footer.xhtml">
                        </ui:include>
                    </ui:insert>
                </div>
            </div>
        </div>
    </h:form>
</h:body>
</html>