<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
    <title>Luxury Watches</title>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <h:outputStylesheet library="css" name="bootstrap.css" media="all"></h:outputStylesheet>
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <h:outputScript library="js" name="jquery-1.11.0.min.js" media="all"></h:outputScript>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <h:outputStylesheet library="css" name="style.css" media="all"></h:outputStylesheet>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Watches" />
    <h:outputScript library="js" name="themestyle.js"></h:outputScript>
    <!--start-menu-->
    <h:outputScript library="js" name="simpleCart.min.js"></h:outputScript>
    <h:outputStylesheet library="css" name="memenu.css"></h:outputStylesheet>
    <h:outputScript library="js" name="memenu.js"></h:outputScript>
    <h:outputScript library="js" name="startmenu.js"></h:outputScript>
    <!--dropdown-->
    <h:outputScript library="js" name="jquery.easydropdown.js"></h:outputScript>
</h:head>
<h:body>
    <h:form>
        <div id="body-container">
            <!--                         -->
            <!--       H E A D E R       -->
            <!--                         -->
            <div id="body-header">
                <ui:insert name="body-header">
                    <ui:include src="/fragments/header.xhtml">
                    </ui:include>
                </ui:insert>
            </div>
            <!--                         -->
            <!--        B O D Y          -->
            <!--                         -->
            <div id="body-content">
                <!--                        -->
                <!--   APPLICATION CONTENT  -->
                <!--                        -->
                <ui:insert name="body-content">
                </ui:insert>
            </div>
            <!--                        -->
            <!--      F O O T E R       -->
            <!--                        -->
            <div id="body-footer">
                <ui:insert name="body-footer" >
                    <ui:include src="/fragments/footer.xhtml">
                    </ui:include>
                </ui:insert>
            </div>
        </div>
    </h:form>
</h:body>
</html>