<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:body>
    <ui:composition template="/templates/adminBasePage.xhtml">
        <ui:define name="title">
            <title>Admin | Edit Supplier</title>
        </ui:define>
        <ui:define name="body-content">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <h1>Edit Supplier</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Supplier Table</a></li>
                        <li class="active">Edit Supplier</li>
                    </ol>
                </div>
                <h:form prependId="false">
                <!-- Main content -->
                <div class="content">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Supplier Form</h3>
                            <p:message for="companyName"/>
                            <p:message for="email"/>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <h:outputLabel value="Id" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.supplierId}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="id"      
                                                     disabled="true"                                              
                                                     tabindex="1">
                                        </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Company Name" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.companyName}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="companyName" 
                                                     required="true"
                                                     requiredMessage="Company name is required"                                                    
                                                     tabindex="1">
                                        </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Address" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.address}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="address"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Country" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.country}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="country"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Phone" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.phone}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="phone"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Email" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.email}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="email"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Fax" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.fax}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="fax"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="form-group">
                                    <h:outputLabel value="Url" styleClass="col-sm-2 control-label"/>
                                    <div class="col-sm-10">
                                        <h:inputText value="#{supplierBean.supplier.url}" 
                                                     styleClass="form-control"
                                                     style="width:400px"
                                                     id="url"
                                                     tabindex="1">
                                         </h:inputText>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <h:commandButton tabindex="2" 
                                                 value="Save" 
                                                 action="#{supplierBean.updateSupplier()}" 
                                                 style="width:95px"
                                                 styleClass="btn btn-info btn-flat"/>
                                <h:commandButton tabindex="2" 
                                                 value="Cancel" 
                                                 action="/pages/supplier/supplier.jsf?faces-redirect=true"
                                                 style="width:95px"
                                                 styleClass="btn btn-default btn-flat pull-right"/>   
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>
