<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:body>
    <ui:composition template="/templates/adminBasePage.xhtml">
        <ui:define name="title">
            <title>Admin | Supplier</title>
        </ui:define>
        <ui:define name="body-content">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <h1>
                        Supplier Table
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li><a href="#">Tables</a></li>
                        <li class="active">Supplier Table</li>
                    </ol>
                </div>
                <!-- Main content -->
                <div class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">List Supplier</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <h:form prependId="fasle">
                                <h:dataTable rendered="#{not empty supplierBean.suppliers}" value="#{supplierBean.suppliers}" var="s" id="table1" role="grid"
                                             styleClass="table table-bordered table-striped">
                                     <h:column>                 
                                        <f:facet name="header">Id</f:facet>                   
                                        <h:outputText value="#{s.supplierId}" />
                                     </h:column>
                                     <h:column>
                                        <f:facet name="header">Company Name</f:facet>
                                        <h:outputText value="#{s.companyName}" />
                                     </h:column>
                                     <h:column>
                                        <f:facet name="header">Address</f:facet>
                                        <h:outputText value="#{s.address}" />
                                     </h:column>
                                     <h:column>                 
                                        <f:facet name="header">Country</f:facet>                   
                                        <h:outputText value="#{s.country}" />
                                     </h:column>
                                     <h:column>
                                        <f:facet name="header">Phone</f:facet>
                                        <h:outputText value="#{s.phone}" />
                                     </h:column>
                                     <h:column>
                                        <f:facet name="header">Email</f:facet>
                                        <h:outputText value="#{s.email}" />
                                     </h:column>
                                     <h:column>
                                        <f:facet name="header">Fax</f:facet>
                                        <h:outputText value="#{s.fax}" />
                                     </h:column>
                                     <h:column>
                                        <f:facet name="header">URL</f:facet>
                                        <h:outputText value="#{s.url}" />
                                     </h:column>
                                     <h:column>
                                        <f:facet name="header">Options</f:facet>
                                        <h:commandButton styleClass="btn btn-block btn-info btn-flat"
                                                         style="width:95px" 
                                                         value="Edit" 
                                                         action="#{supplierBean.editAction(s)}" >
                                        </h:commandButton>
                                        <h:commandButton styleClass="btn btn-block btn-danger btn-flat" 
                                                         style="width:95px" 
                                                         value="Delete" 
                                                         type="submit"
                                                         onclick="return confirm('Are you sure to delete it?')" 
                                                         action="#{supplierBean.deleteSupplier(s)}" />
                                     </h:column>
                                </h:dataTable>
                           
                                <h:panelGroup rendered="#{empty supplierBean.suppliers}" styleClass="table table-bordered table-striped">
                                        <p>Suppliers is empty! Please add new supplier.</p>
                                </h:panelGroup>
                                
                                <h:commandButton styleClass="btn btn-block btn-success btn-flat pull-left" 
                                                 style="width:100px"
                                                 action="/pages/supplier/create.jsf?faces-redirect=true" 
                                                 value="Create New" /> 
                                </h:form>
                            </div>
                            <!-- /.box-body --> 
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row --> 
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </ui:define>
    </ui:composition>
</h:body>
</html>