<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets">
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">
                    <div class="drop">
                        <div class="box">
                            <select class="dropdown drop">
                                <option value="" class="label">Dollar:</option>
                                <option value="1">Dollar</option>
                                <option value="2">Euro</option>
                            </select>
                        </div>
                        <div class="box1">
                            <select class="dropdown">
                                <option value="" class="label">English:</option>
                                <option value="1">English</option>
                                <option value="2">Vietnamese</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>    
                <div class="col-md-6 top-header-left">
                    <h:commandButton action="/pages/login.jsf?faces-redirect=true"
                                     value="Login"
                                     style="margin-left: 400px;color: #fff;
                                     font-size: 13px;
                                     cursor: pointer;
                                     border: 1px solid #000;
                                     background: none;" />
                    <div class="cart box_1">
                        <a href="//localhost:8080/LuxuryWatches/pages/checkout.jsf">
                            <div class="total">
                                <span class="simpleCart_total"></span>
                            </div> <h:graphicImage library="images" name="cart-1.png" alt="" />
                        </a>
                        <p>
                            <a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="//localhost:8080/LuxuryWatches/index.jsf"><h1>Luxury Watches</h1></a>
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            <div class="header">
                <div class="col-md-9 header-left">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class="active"><a href="//localhost:8080/LuxuryWatches/index.jsf">Home</a></li>
                            <li class="grid"><a href="#">Men</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">New Arrivals</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Blazers</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Swem Wear</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Accessories</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Handbags</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">T-Shirts</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Watches</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">My Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Shoes</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Watches</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Brands</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Coats</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Accessories</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">499 Store</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Fastrack</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Casio</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Fossil</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Maxima</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Timex</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">TomTom</a></li>
                                                <li><a href="//localhost:8080/LuxuryWatches/pages/products.jsf">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div></li>
                            <li class="grid"><a href="#">Women</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">New
                                                        Arrivals</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Blazers</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Swem
                                                        Wear</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Accessories</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Handbags</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">T-Shirts</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Watches</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">My
                                                        Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Shoes</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Watches</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Brands</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Coats</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Accessories</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">499
                                                        Store</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Fastrack</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Casio</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Fossil</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Maxima</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Timex</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">TomTom</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div></li>
                            <li class="grid"><a href="#">Kids</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">New
                                                        Arrivals</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Blazers</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Swem
                                                        Wear</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Accessories</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Handbags</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">T-Shirts</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Watches</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">My
                                                        Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Shoes</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Watches</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Brands</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Coats</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Accessories</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">499
                                                        Store</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Fastrack</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Casio</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Fossil</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Maxima</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Timex</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">TomTom</a></li>
                                                <li><a
                                                    href="//localhost:8080/LuxuryWatches/pages/products.jsf">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div></li>
                            <li class="grid">
                            <a href="//localhost:8080/LuxuryWatches/pages/contact.jsf">Contact</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-3 header-right">
                    <div class="search-bar">
                        <h:inputText value="Search"
                            onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'Search';}" />
                        <h:commandButton value="" type="submit" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--bottom-header-->
</ui:composition>
