<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/basePage.xhtml">
    <ui:define name="body-content">
        <!--start-breadcrumbs-->
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-main">
                    <ol class="breadcrumb">
                        <li><a href="//localhost:8080/LuxuryWatches/index.jsf">Home</a></li>
                        <li class="active">Contact</li>
                    </ol>
                </div>
            </div>
        </div>
        <!--end-breadcrumbs-->
        <!--contact-start-->
        <div class="contact">
            <div class="container">
                <div class="contact-top heading">
                    <h2>CONTACT</h2>
                </div>
                <div class="contact-text">
                    <div class="col-md-3 contact-left">
                        <div class="address">
                            <h5>Address</h5>
                            <p>
                                Luxury Watches Co., <span>01 Võ
                                    Văn Ngân, Linh Chiểu, Thủ Đức, Hồ
                                    Chí Minh, Việt Nam,</span>
                            </p>
                        </div>
                        <div class="address">
                            <h5>Information</h5>
                            <p>
                                Tel:+84 1642 799 221, <span>Fax:190-4509-494</span>
                                Email: <a href="mailto:example@email.com">contact-lx@gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-9 contact-right">
                        <form>
                            <p:inputText placeholder="Name"></p:inputText>
                            <p:inputText placeholder="Phone"></p:inputText>
                            <p:inputText placeholder="Email"></p:inputText>
                            <p:inputTextarea placeholder="Message" required="true"></p:inputTextarea>
                            <div class="submit-btn">
                                <h:commandButton type="submit" value="SUBMIT"></h:commandButton>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--contact-end-->
        <!--map-start-->
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.498474550816!2d106.77066008256419!3d10.849640121792637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x7a4d67bcb7e79b6a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBTxrAgcGjhuqFtIEvhu7kgdGh14bqtdCBUcC5IQ00!5e0!3m2!1svi!2s!4v1445326718433"
                style="border: 0"></iframe>
        </div>
        <!--map-end-->
    </ui:define>
</ui:composition>
