<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/basePage.xhtml">
                
    <ui:define name="body-content">
        <!--start-breadcrumbs-->
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-main">
                    <ol class="breadcrumb">
                        <li><a href="//localhost:8080/LuxuryWatches/index.jsf">Home</a></li>
                        <li class="active">Account</li>
                    </ol>
                </div>
            </div>
        </div>
        <!--end-breadcrumbs-->
        <!--account-starts-->
        <div class="account">
            <div class="container">
                <div class="account-top heading">
                    <h2>ACCOUNT</h2>
                </div>
                <div class="account-main">
                    <div class="col-md-6 account-left">
                        <h3>Existing User</h3>
                        <div class="account-bottom">
                            <p:inputText id="email"
                                         required="true"
                                         requiredMessage="Email is required!"
                                         placeholder="Email"
                                         tabindex="1" 
                                         value="#{userBean.email2}">    
                            </p:inputText>
                            <br />
                            <!-- <p:message for="email"/> -->
                            <br />
                            <p:password id="password"
                                        required="true"
                                        requiredMessage="Password is required"
                                        validatorMessage="Password should be of length from 6 to 45 chars"
                                        placeholder="Password"
                                        tabindex="2"
                                        value="#{userBean.password}">
                                <f:validateLength minimum="6" maximum="45" for="password"/>
                            </p:password>
                            <br />
                            <!-- <p:message for="password"/> -->
                            <div class="address">
                                <!--<a class="forgot" href="#">Forgot Your Password?</a>-->
                                <h:commandButton id="loginButton"
                                                 action="#{userBean.login()}"
                                                 value="Login"/>
                                <p:messages />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 account-right account-left">
                        <h3>New User? Create an Account</h3>
                        <p>By creating an account with our store,
                            you will be able to move through the
                            checkout process faster, store multiple
                            shipping addresses, view and track your
                            orders in your account and more.</p>
                        <h:outputLink value="//localhost:8080/LuxuryWatches/pages/register.jsf">
                            <h:outputText value="Create an Account" />
                        </h:outputLink>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--account-end-->
    </ui:define>
</ui:composition>
