
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/templates/basePage.xhtml">
    <ui:define name="body-content">
        <!--start-breadcrumbs-->
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-main">
                    <ol class="breadcrumb">
                        <li><a href="//localhost:8080/LuxuryWatches/index.jsf">Home</a></li>
                        <li class="active">New Products</li>
                    </ol>
                </div>
            </div>
        </div>
        <!--end-breadcrumbs-->
        <!--prdt-starts-->
        <div class="prdt">
            <div class="container">
                <div class="prdt-top">
                    <div class="col-md-9 prdt-left">
                        <div class="product-one">
                            <div class="col-md-4 product-left p-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                                library="images"
                                                   name="p-1.png"
                                             styleClass="img-responsive zoom-img"
                                                    alt="" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch srch1">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 product-left p-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                                library="images"
                                                   name="p-2.png"
                                             styleClass="img-responsive zoom-img"
                                                    alt="" />
                                    </a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch srch1">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 product-left p-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                                library="images"
                                                   name="p-3.png"
                                             styleClass="img-responsive zoom-img"
                                                    alt="" />
                                    </a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch srch1">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="product-one">
                            <div class="col-md-4 product-left p-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                                library="images"
                                                   name="p-4.png"
                                             styleClass="img-responsive zoom-img"
                                                    alt="" />
                                    </a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch srch1">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 product-left p-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                                library="images"
                                                   name="p-5.png"
                                             styleClass="img-responsive zoom-img"
                                                    alt="" />
                                    </a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch srch1">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 product-left p-left">
                                <div
                                    class="product-main simpleCart_shelfItem">
                                    <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask">
                                    <h:graphicImage
                                                library="images"
                                                   name="p-6.png"
                                             styleClass="img-responsive zoom-img"
                                                    alt="" /></a>
                                    <div class="product-bottom">
                                        <h3>Smart Watches</h3>
                                        <p>Explore Now</p>
                                        <h4>
                                            <a class="item_add" href="#"><i></i></a>
                                            <span class=" item_price">$329</span>
                                        </h4>
                                    </div>
                                    <div class="srch srch1">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-3 prdt-right">
                        <div class="w_sidebar">
                            <section class="sky-form">
                                <h4>Catogories</h4>
                                <div class="row1 scroll-pane">
                                    <div class="col col-4">
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" checked=""></input>
                                            <i></i>All Accessories
                                        </label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" />
                                            <i></i>Women Watches
                                        </label>
                                         <label
                                            class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Kids
                                            Watches</label> <label
                                            class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Men
                                            Watches</label>
                                    </div>
                                </div>
                            </section>
                            <section class="sky-form">
                                <h4>Brand</h4>
                                <div class="row1 row2 scroll-pane">
                                    <div class="col col-4">
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" checked=""></input><i></i>kurtas</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Sonata</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Titan</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Casio</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Omax</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>shree</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Fastrack</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Sports</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Fossil</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Maxima</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Yepme</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Citizen</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Diesel</label>
                                    </div>
                                </div>
                            </section>
                            <!--  
						<section class="sky-form">
							<h4>Colour</h4>
								<ul class="w_nav2">
									<li><a class="color1" href="#"></a></li>
									<li><a class="color2" href="#"></a></li>
									<li><a class="color3" href="#"></a></li>
									<li><a class="color4" href="#"></a></li>
									<li><a class="color5" href="#"></a></li>
									<li><a class="color6" href="#"></a></li>
									<li><a class="color7" href="#"></a></li>
									<li><a class="color8" href="#"></a></li>
									<li><a class="color9" href="#"></a></li>
									<li><a class="color10" href="#"></a></li>
									<li><a class="color12" href="#"></a></li>
									<li><a class="color13" href="#"></a></li>
									<li><a class="color14" href="#"></a></li>
									<li><a class="color15" href="#"></a></li>
									<li><a class="color5" href="#"></a></li>
									<li><a class="color6" href="#"></a></li>
									<li><a class="color7" href="#"></a></li>
									<li><a class="color8" href="#"></a></li>
									<li><a class="color9" href="#"></a></li>
									<li><a class="color10" href="#"></a></li>
								</ul>
						</section>
                        -->
                            <section class="sky-form">
                                <h4>discount</h4>
                                <div class="row1 row2 scroll-pane">
                                    <div class="col col-4">
                                        <label class="radio"><input
                                            type="radio" name="radio"
                                            checked=""></input><i></i>60
                                            % and above</label> <label
                                            class="radio"><input
                                            type="radio" name="radio"></input><i></i>50
                                            % and above</label> <label
                                            class="radio"><input
                                            type="radio" name="radio"></input><i></i>40
                                            % and above</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="radio"><input
                                            type="radio" name="radio" /><i></i>30
                                            % and above</label> <label
                                            class="radio"><input
                                            type="radio" name="radio" /><i></i>20
                                            % and above</label> <label
                                            class="radio"><input
                                            type="radio" name="radio" /><i></i>10
                                            % and above</label>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--product-end-->
    </ui:define>
</ui:composition>