<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/basePage.xhtml">
                
    <ui:define name="body-content">
        <!--start-breadcrumbs-->
        <div class="breadcrumbs">
            <div class="container">
                <div class="breadcrumbs-main">
                    <ol class="breadcrumb">
                        <li><a href="//localhost:8080/LuxuryWatches/index.jsf">Home</a></li>
                        <li class="active">Register</li>
                    </ol>
                </div>
            </div>
        </div>
        <!--end-breadcrumbs-->
        <!--register-starts-->
        <div class="register">
            <div class="container">
                <div class="register-top heading">
                    <h2>REGISTER</h2>
                </div>
                <div class="register-main">
                    <div class="col-md-6 account-left">
                        <p:inputText id="firstName" 
                                     required="true"
                                     requiredMessage="First name is required"
                                     validatorMessage="First name should be of length from 6 to 45 chars"
                                     placeholder="First name" 
                                     tabindex="1" 
                                     value="#{userBean.customer.firstName}">
                            <f:validateLength minimum="6" maximum="45" for="firstName"/>
                        </p:inputText>
                        <p:message for="firstName"/>
                        <br />
                        <p:inputText id="lastName"
                                     required="true"
                                     requiredMessage="Last name is required"
                                     validatorMessage="Last name should be of length from 6 to 45 chars"
                                     placeholder="Last name" 
                                     tabindex="2" 
                                     value="#{userBean.customer.lastName}">       
                            <f:validateLength minimum="6" maximum="45" for="lastName"/>
                        </p:inputText>
                        <p:message for="lastName"/>
                        <br />
                        <p:inputText id="phone"
                                     required="true"
                                     requiredMessage="Phone is required"
                                     onkeyup="$(this).val($(this).val().replace(/[^0-9]/g, ''));"
                                     placeholder="Phone" 
                                     tabindex="3" 
                                     value="#{userBean.customer.phone}">
                            <f:validateLength minimum="10" maximum="11" for="phone"/>
                        </p:inputText>
                        <p:message for="phone"/>
                        <br />
                        <p:inputText id="address"
                                     placeholder="Address" 
                                     validatorMessage="Address should be max of length 45 chars"
                                     tabindex="3" 
                                     value="#{userBean.customer.address}">
                            <f:validateLength maximum="45" for="address"/>
                        </p:inputText>
                        <p:message for="address"/>
                        <br />
                    </div>
                    <div class="col-md-6 account-left">
                        <p:inputText id="email"
                                     required="true"
                                     requiredMessage="Email is required!"
                                     placeholder="Email address" 
                                     tabindex="4" 
                                     value="#{userBean.user.email}">                      
                        </p:inputText>
                        <p:message for="email"/>
                        <br />
                        <p:password id="password"
                                    required="true"
                                    requiredMessage="Password is required"
                                    validatorMessage="Password must match confirm password"
                                    placeholder="Password" 
                                    match="rePassword"
                                    tabindex="4" 
                                    value="#{userBean.user.password}">
                        </p:password>
                        <p:message for="password"/>
                        <br />
                        <p:password id="rePassword"
                                    required="true"
                                    requiredMessage="Retype Password is required"
                                    validatorMessage="Retype Password should be of length from 6 to 45 chars"
                                    placeholder="Retype Password" 
                                    tabindex="4" 
                                    value="#{userBean.user.password}">
                            <f:validateLength minimum="6" maximum="45" for="rePassword"/>
                        </p:password>
                        <p:message for="rePassword"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="address submit">
                    <h:commandButton id="register"
                                     action="#{userBean.register()}"
                                     value="Register"/>
                </div>
            </div>
        </div>
        <!--register-end-->
    </ui:define>
</ui:composition>
