<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

<h:body>
    <ui:composition template="/templates/basePage.xhtml">
        <ui:define name="body-content">
            <!--start-breadcrumbs-->
            <div class="breadcrumbs">
                <div class="container">
                    <div class="breadcrumbs-main">
                        <ol class="breadcrumb">
                            <li><a href="//localhost:8080/LuxuryWatches/index.jsf">Home</a></li>
                            <li class="active">Single</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--end-breadcrumbs-->
            <!--start-single-->
            <div class="single contact">
                <div class="container">
                    <div class="single-main">
                        <div class="col-md-9 single-main-left">
                            <div class="sngl-top">
                                <div class="col-md-5 single-top-left">
                                    <div class="flexslider">
                                        <ul class="slides">
                                            <li data-thumb="../resources/images/s-1.jpg">
                                                <div class="thumb-image">
                                                    <img
                                                        src="../resources/images/s-1.jpg"
                                                        data-imagezoom="true"
                                                        class="img-responsive"
                                                        alt="" />
                                                </div>
                                            </li>
                                            <li data-thumb="../resources/images/s-2.jpg">
                                                <div class="thumb-image">
                                                    <img
                                                        src="../resources/images/s-2.jpg"
                                                        data-imagezoom="true"
                                                        class="img-responsive"
                                                        alt="" />
                                                </div>
                                            </li>
                                            <li data-thumb="../resources/images/s-3.jpg">
                                                <div class="thumb-image">
                                                    <img
                                                        src="../resources/images/s-3.jpg"
                                                        data-imagezoom="true"
                                                        class="img-responsive"
                                                        alt="" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- FlexSlider -->
                                    <h:outputScript library="js" name="imagezoom.js"></h:outputScript>
                                    <h:outputScript library="js" name="jquery.flexslider.js"></h:outputScript>
                                    <h:outputStylesheet library="css" name="flexslider.css"></h:outputStylesheet>
                                    <h:outputScript library="js" name="load.flexslider.js"></h:outputScript>
                                </div>
                                <div class="col-md-7 single-top-right">
                                    <div
                                        class="single-para simpleCart_shelfItem">
                                        <h2>Lorem Ipsum</h2>
                                        <!--  
                                        <div class="star-on">
                                            <ul class="star-footer">
                                                <li><a href="#"><i>
                                                    </i></a></li>
                                                <li><a href="#"><i>
                                                    </i></a></li>
                                                <li><a href="#"><i>
                                                    </i></a></li>
                                                <li><a href="#"><i>
                                                    </i></a></li>
                                                <li><a href="#"><i>
                                                    </i></a></li>
                                            </ul>
                                            
                                            <div class="review">
                                                <a href="#"> 1
                                                    customer review </a>

                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            
                                        </div>
                                         -->       
                                        <h5 class="item_price">$
                                            95.00</h5>
                                        <p>Lorem ipsum dolor sit
                                            amet, consectetuer
                                            adipiscing elit, sed diam
                                            nonummy nibh euismod
                                            tincidunt ut laoreet dolore
                                            magna aliquam erat volutpat.
                                            Ut wisi enim ad minim
                                            veniam, quis nostrud exerci
                                            tation ullamcorper suscipit
                                            lobortis nisl ut aliquip ex
                                            ea commodo consequat.</p>
                                        <!--  
                                        <div class="available">
                                            <ul>
                                                <li>Color <select>
                                                        <option>Silver</option>
                                                        <option>Black</option>
                                                        <option>Dark
                                                            Black</option>
                                                        <option>Red</option>
                                                </select></li>
                                                <li class="size-in">Size<select>
                                                        <option>Large</option>
                                                        <option>Medium</option>
                                                        <option>Small</option>
                                                </select></li>
                                                <div class="clearfix">
                                                </div>
                                            </ul>
                                        </div>
                                        -->
                                        <ul class="tag-men">
                                            <li><span>TAG</span> <span
                                                class="women1">:Women,</span></li>
                                            <li><span>SKU</span> <span
                                                class="women1">:CK09</span></li>
                                        </ul>
                                        <a href="#" class="add-cart item_add">ADD TO CART</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="tabs">
                                <ul class="menu_drop">
                                    <li class="item1"><a href="#">
                                        <h:graphicImage
                                                library="images"
                                                name="arrow.png" />Description</a>
                                        <ul>
                                            <li class="subitem1"><a
                                                href="#">Lorem ipsum
                                                    dolor sit amet,
                                                    consectetuer
                                                    adipiscing elit, sed
                                                    diam nonummy nibh
                                                    euismod tincidunt ut
                                                    laoreet dolore magna
                                                    aliquam erat
                                                    volutpat. Ut wisi
                                                    enim ad minim
                                                    veniam, quis nostrud
                                                    exerci tation
                                                    ullamcorper suscipit
                                                    lobortis nisl ut
                                                    aliquip ex ea
                                                    commodo consequat.</a></li>
                                            <li class="subitem2"><a
                                                href="#"> Duis autem
                                                    vel eum iriure dolor
                                                    in hendrerit in
                                                    vulputate velit esse
                                                    molestie consequat,
                                                    vel illum dolore eu
                                                    feugiat nulla
                                                    facilisis at vero
                                                    eros et accumsan et
                                                    iusto odio dignissim
                                                    qui blandit praesent
                                                    luptatum zzril
                                                    delenit augue duis
                                                    dolore</a></li>
                                            <li class="subitem3"><a
                                                href="#">Mirum est
                                                    notare quam littera
                                                    gothica, quam nunc
                                                    putamus parum
                                                    claram, anteposuerit
                                                    litterarum formas
                                                    humanitatis per
                                                    seacula quarta
                                                    decima et quinta
                                                    decima. Eodem modo
                                                    typi, qui nunc nobis
                                                    videntur parum
                                                    clari, fiant
                                                    sollemnes </a></li>
                                        </ul></li>
                                    <li class="item2"><a href="#"><h:graphicImage
                                                library="images"
                                                name="arrow.png" />Additional
                                            information</a>
                                        <ul>
                                            <li class="subitem2"><a
                                                href="#"> Duis autem
                                                    vel eum iriure dolor
                                                    in hendrerit in
                                                    vulputate velit esse
                                                    molestie consequat,
                                                    vel illum dolore eu
                                                    feugiat nulla
                                                    facilisis at vero
                                                    eros et accumsan et
                                                    iusto odio dignissim
                                                    qui blandit praesent
                                                    luptatum zzril
                                                    delenit augue duis
                                                    dolore</a></li>
                                            <li class="subitem3"><a
                                                href="#">Mirum est
                                                    notare quam littera
                                                    gothica, quam nunc
                                                    putamus parum
                                                    claram, anteposuerit
                                                    litterarum formas
                                                    humanitatis per
                                                    seacula quarta
                                                    decima et quinta
                                                    decima. Eodem modo
                                                    typi, qui nunc nobis
                                                    videntur parum
                                                    clari, fiant
                                                    sollemnes </a></li>
                                        </ul></li>
                                    <li class="item3"><a href="#"><h:graphicImage
                                                library="images"
                                                name="arrow.png" />Reviews
                                            (10)</a>
                                        <ul>
                                            <li class="subitem1"><a
                                                href="#">Lorem ipsum
                                                    dolor sit amet,
                                                    consectetuer
                                                    adipiscing elit, sed
                                                    diam nonummy nibh
                                                    euismod tincidunt ut
                                                    laoreet dolore magna
                                                    aliquam erat
                                                    volutpat. Ut wisi
                                                    enim ad minim
                                                    veniam, quis nostrud
                                                    exerci tation
                                                    ullamcorper suscipit
                                                    lobortis nisl ut
                                                    aliquip ex ea
                                                    commodo consequat.</a></li>
                                            <li class="subitem2"><a
                                                href="#"> Duis autem
                                                    vel eum iriure dolor
                                                    in hendrerit in
                                                    vulputate velit esse
                                                    molestie consequat,
                                                    vel illum dolore eu
                                                    feugiat nulla
                                                    facilisis at vero
                                                    eros et accumsan et
                                                    iusto odio dignissim
                                                    qui blandit praesent
                                                    luptatum zzril
                                                    delenit augue duis
                                                    dolore</a></li>
                                            <li class="subitem3"><a
                                                href="#">Mirum est
                                                    notare quam littera
                                                    gothica, quam nunc
                                                    putamus parum
                                                    claram, anteposuerit
                                                    litterarum formas
                                                    humanitatis per
                                                    seacula quarta
                                                    decima et quinta
                                                    decima. Eodem modo
                                                    typi, qui nunc nobis
                                                    videntur parum
                                                    clari, fiant
                                                    sollemnes </a></li>
                                        </ul></li>
                                    <li class="item4"><a href="#"><h:graphicImage
                                                library="images"
                                                name="arrow.png" />Helpful
                                            Links</a>
                                        <ul>
                                            <li class="subitem2"><a
                                                href="#"> Duis autem
                                                    vel eum iriure dolor
                                                    in hendrerit in
                                                    vulputate velit esse
                                                    molestie consequat,
                                                    vel illum dolore eu
                                                    feugiat nulla
                                                    facilisis at vero
                                                    eros et accumsan et
                                                    iusto odio dignissim
                                                    qui blandit praesent
                                                    luptatum zzril
                                                    delenit augue duis
                                                    dolore</a></li>
                                            <li class="subitem3"><a
                                                href="#">Mirum est
                                                    notare quam littera
                                                    gothica, quam nunc
                                                    putamus parum
                                                    claram, anteposuerit
                                                    litterarum formas
                                                    humanitatis per
                                                    seacula quarta
                                                    decima et quinta
                                                    decima. Eodem modo
                                                    typi, qui nunc nobis
                                                    videntur parum
                                                    clari, fiant
                                                    sollemnes </a></li>
                                        </ul></li>
                                    <li class="item5"><a href="#"><h:graphicImage
                                                library="images"
                                                name="arrow.png" />Make
                                            A Gift</a>
                                        <ul>
                                            <li class="subitem1"><a
                                                href="#">Lorem ipsum
                                                    dolor sit amet,
                                                    consectetuer
                                                    adipiscing elit, sed
                                                    diam nonummy nibh
                                                    euismod tincidunt ut
                                                    laoreet dolore magna
                                                    aliquam erat
                                                    volutpat. Ut wisi
                                                    enim ad minim
                                                    veniam, quis nostrud
                                                    exerci tation
                                                    ullamcorper suscipit
                                                    lobortis nisl ut
                                                    aliquip ex ea
                                                    commodo consequat.</a></li>
                                            <li class="subitem2"><a
                                                href="#"> Duis autem
                                                    vel eum iriure dolor
                                                    in hendrerit in
                                                    vulputate velit esse
                                                    molestie consequat,
                                                    vel illum dolore eu
                                                    feugiat nulla
                                                    facilisis at vero
                                                    eros et accumsan et
                                                    iusto odio dignissim
                                                    qui blandit praesent
                                                    luptatum zzril
                                                    delenit augue duis
                                                    dolore</a></li>
                                            <li class="subitem3"><a
                                                href="#">Mirum est
                                                    notare quam littera
                                                    gothica, quam nunc
                                                    putamus parum
                                                    claram, anteposuerit
                                                    litterarum formas
                                                    humanitatis per
                                                    seacula quarta
                                                    decima et quinta
                                                    decima. Eodem modo
                                                    typi, qui nunc nobis
                                                    videntur parum
                                                    clari, fiant
                                                    sollemnes </a></li>
                                        </ul></li>
                                </ul>
                            </div>
                            <div class="latestproducts">
                                <div class="product-one">
                                    <div
                                        class="col-md-4 product-left p-left">
                                        <div
                                            class="product-main simpleCart_shelfItem">
                                            <a href="//localhost:8080/LuxuryWatches/pages/single.jsf" class="mask"> 
                                            <h:graphicImage
                                                    library="images"
                                                    styleClass="img-responsive zoom-img"
                                                    name="p-1.png" /> <!--  
                                    <img class="img-responsive zoom-img" src="p-1.png" alt="" />
                                -->
                                            </a>
                                            <div class="product-bottom">
                                                <h3>Smart Watches</h3>
                                                <p>Explore Now</p>
                                                <h4>
                                                    <a class="item_add"
                                                        href="#"><i></i></a>
                                                    <span
                                                        class=" item_price">$
                                                        329</span>
                                                </h4>
                                            </div>
                                            <div class="srch">
                                                <span>-50%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-4 product-left p-left">
                                        <div
                                            class="product-main simpleCart_shelfItem">
                                            <a href="single.xhtml"
                                                class="mask"> <h:graphicImage
                                                    library="images"
                                                    styleClass="img-responsive zoom-img"
                                                    name="p-2.png" /> <!--  
                                    <img class="img-responsive zoom-img" src="p-2.png" alt="" />
                                -->
                                            </a>
                                            <div class="product-bottom">
                                                <h3>Smart Watches</h3>
                                                <p>Explore Now</p>
                                                <h4>
                                                    <a class="item_add"
                                                        href="#"><i></i></a>
                                                    <span
                                                        class=" item_price">$
                                                        329</span>
                                                </h4>
                                            </div>
                                            <div class="srch">
                                                <span>-50%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-md-4 product-left p-left">
                                        <div
                                            class="product-main simpleCart_shelfItem">
                                            <a href="single.xhtml"
                                                class="mask"> <h:graphicImage
                                                    library="images"
                                                    styleClass="img-responsive zoom-img"
                                                    name="p-3.png" /> <!--
                                    <img class="img-responsive zoom-img" src="p-3.png" alt="" />
                                -->
                                            </a>
                                            <div class="product-bottom">
                                                <h3>Smart Watches</h3>
                                                <p>Explore Now</p>
                                                <h4>
                                                    <a class="item_add"
                                                        href="#"><i></i></a>
                                                    <span
                                                        class=" item_price">$
                                                        329</span>
                                                </h4>
                                            </div>
                                            <div class="srch">
                                                <span>-50%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 single-right">
                            <div class="w_sidebar">
                                <section class="sky-form">
                                <h4>Catogories</h4>
                                <div class="row1 scroll-pane">
                                    <div class="col col-4">
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" checked="" /><i></i>All
                                            Accessories</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Women
                                            Watches</label> <label
                                            class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Kids
                                            Watches</label> <label
                                            class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Men
                                            Watches</label>
                                    </div>
                                </div>
                                </section>
                                <section class="sky-form">
                                <h4>Brand</h4>
                                <div class="row1 row2 scroll-pane">
                                    <div class="col col-4">
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" checked="" /><i></i>kurtas</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Sonata</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Titan</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Casio</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Omax</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>shree</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Fastrack</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Sports</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Fossil</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Maxima</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Yepme</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Citizen</label>
                                        <label class="checkbox"><input
                                            type="checkbox"
                                            name="checkbox" /><i></i>Diesel</label>
                                    </div>
                                </div>
                                </section>
                                <!--  
                        <section class="sky-form">
                            <h4>Colour</h4>
                                <ul class="w_nav2">
                                    <li><a class="color1" href="#"></a></li>
                                    <li><a class="color2" href="#"></a></li>
                                    <li><a class="color3" href="#"></a></li>
                                    <li><a class="color4" href="#"></a></li>
                                    <li><a class="color5" href="#"></a></li>
                                    <li><a class="color6" href="#"></a></li>
                                    <li><a class="color7" href="#"></a></li>
                                    <li><a class="color8" href="#"></a></li>
                                    <li><a class="color9" href="#"></a></li>
                                    <li><a class="color10" href="#"></a></li>
                                    <li><a class="color12" href="#"></a></li>
                                    <li><a class="color13" href="#"></a></li>
                                    <li><a class="color14" href="#"></a></li>
                                    <li><a class="color15" href="#"></a></li>
                                    <li><a class="color5" href="#"></a></li>
                                    <li><a class="color6" href="#"></a></li>
                                    <li><a class="color7" href="#"></a></li>
                                    <li><a class="color8" href="#"></a></li>
                                    <li><a class="color9" href="#"></a></li>
                                    <li><a class="color10" href="#"></a></li>
                                </ul>
                        </section>
                        -->
                                <section class="sky-form">
                                <h4>discount</h4>
                                <div class="row1 row2 scroll-pane">
                                    <div class="col col-4">
                                        <label class="radio"><input
                                            type="radio" name="radio"
                                            checked="" /><i></i>60 % and
                                            above</label> <label class="radio"><input
                                            type="radio" name="radio" /><i></i>50
                                            % and above</label> <label
                                            class="radio"><input
                                            type="radio" name="radio" /><i></i>40
                                            % and above</label>
                                    </div>
                                    <div class="col col-4">
                                        <label class="radio">
                                            <input type="radio" name="radio" /><i></i>30% and above</label> 
                                        <label class="radio">
                                            <input
                                            type="radio" name="radio" /><i></i>20
                                            % and above</label> <label
                                            class="radio"><input
                                            type="radio" name="radio" /><i></i>10
                                            % and above</label>
                                    </div>
                                </div>
                                </section>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!--end-single-->
        </ui:define>
    </ui:composition>
</h:body>
</html>
